<div class="item">
  <div class="ui circular image my_avatar">
    <img src="http://media.gq.com/photos/56e867a9239f13cf5b2ba2d8/master/pass/david-beckham-gq-0416-cover-sq.jpg">
  </div>

  <div class="middle aligned content">
    <strong><%= message.username %>:</strong> <%= message.body %></span>
  </div>
</div>